body, header, h1, p, main, section {
  color: white;
}




body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #303444;
}

header {
  font-family: 'Inter', sans-serif;
  padding: 40px;
  text-align: center;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

main {
  font-family: 'Inter', sans-serif;
  padding: 20px;
}

section {
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}



.contact a {
  color: #ffffff;
}


